DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=simple_messaging
DB_USER=root
DB_PASSWORD=root

APP_NAME="Simple Messaging"
APP_HOST=0.0.0.0
APP_PORT=4000
APP_PORT_SOCKET=8080
APP_SECRET=inirahasia

MONGODB_URI=mongodb://root:root@127.0.0.1:27017/simple_messaging?authSource=admin

ELASTIC_APM_SERVER_URL=http://apm-server:8200